header, footer, aside, nav, article {
  display: block;
}

h1 {
  font-size: 240%;
}
h2 {
  font-size: 180%;
}
sup {
  font-size: 50%
}

p, div, code, pre, body {
  line-height: 1.2em;
}

.pipevar { color: #6a5acd }
.prevar { color: #008b8b }
.comment { color: #0000ff }
a { color: #000000; text-decoration: none; }
.string, .string a { color: #ff00ff; text-decoration: none; }
a:hover { text-decoration: underline; color: blue;}
.escape, .escape a { color: #6a5acd;  }

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span, ul.posts span a {
  color: #aaa;
  font-size: 80%;
}

.sidebox { float: right; }

.sidebox a, .grey {
  width: 75px;
  height: 75px;
  font-size: 3em;
  border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; 
  border: 1px solid #CCC;
  line-height:75px;
  padding: 0.2em;
  margin: 0.2em;
  display: inline;
  float: left;
  text-align:center;
}
.sidebox a {
  color: #333;
  background: #d5d5d5;
  text-decoration: none;
}
.grey {
  color: #bbb;
  background: #ddd;
}
.sidebox a:hover {
  background: #aaa;
  text-decoration: none;
}
input.url, label {
  font-size: 70%;
  font-family: "Menlo", "Monaco", "Andale Mono", "Consolas", "Bitstream Vera Sans Mono", "Liberation Mono", monospace
}
label {
  display:block;
  clear:both;
}
code {
  background: #f8f8ff;
  border: 1px solid #dedede;
  padding: 0 0.2em;
  font-size: 1em;
  font-family: "Inconsolata","Menlo", "Monaco", "Andale Mono", "Consolas", "Bitstream Vera Sans Mono", "Liberation Mono", monospace;
}
pre {
  font-size: 1em;
  font-family: "Inconsolata","Menlo", "Monaco", "Andale Mono", "Consolas", "Bitstream Vera Sans Mono", "Liberation Mono", monospace;
}
div pre code {
  border: 0px;
  padding: 0px;
  font-size: 1em;
}

div.code {
  background: #f8f8ff;
  border: 1px solid #dedede;
  padding: 0 0.2em;
}

h1, h2, p {
  padding 0.4em 0;
}
